*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:#000;
    font-family:Arial,sans-serif;
}

canvas{
    width:100vw;
    height:100vh;
    display:block;
    background:
        radial-gradient(circle at center,#003366,#000814 70%);
}

#hud{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;

    display:flex;
    justify-content:space-between;

    color:white;

    font-size:28px;
    font-weight:bold;

    z-index:100;

    text-shadow:0 0 15px cyan;
}

#score,#vie{

padding:10px 20px;

border:2px solid cyan;

border-radius:15px;

background:rgba(0,0,0,.35);

backdrop-filter:blur(5px);

box-shadow:0 0 20px cyan;

}
